name: "Test"

on:
  workflow_dispatch:
  #schedule:
  #  - cron: "18 18 * * 1,3,5"
  push:
    branches: [master]
    paths: &paths
      - ".github/workflows/test.yaml"
      - "src/**"
      - "tests/**"
      - "pyproject.toml"
      - "requirements*.txt"
  pull_request:
    paths: *paths

jobs:
  build:
    name: "Build"
    uses: ./.github/workflows/build.yaml
    with:
      name: test
    #permissions:
    #  contents: write

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: [build]
    if: ${{ !contains(github.event.head_commit.message, '#notest') }}
    strategy:
      fail-fast: false
      matrix:
        version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    name: "Test ${{ matrix.version }}"
    permissions:
      contents: read

    steps:
      - name: "Debug event.json"
        if: ${{ !github.event.act }}
        continue-on-error: true
        run: |
          cat "${GITHUB_EVENT_PATH}"

      - name: "Debug CTX github"
        if: ${{ !github.event.act }}
        continue-on-error: true
        env:
          GITHUB_CTX: ${{ toJSON(github) }}
        run: echo "$GITHUB_CTX"

      #- name: "Debug Environment"
      #  if: ${{ !github.event.act }}
      #  continue-on-error: true
      #  run: |
      #    env

      - name: "Checkout"
        uses: actions/checkout@v5

      - name: "Download Artifact"
        uses: actions/download-artifact@v6
        with:
          name: test
          path: dist

      - name: "Setup Python ${{ matrix.version }}"
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.version }}
          cache: "pip"

      - name: "Requirements ${{ matrix.version }}"
        run: |
          python -V
          python -m pip install -U pip pytest

      - name: "Install ${{ matrix.version }}"
        run: |
          python -m pip install dist/*.whl
          python -m pip install actions-tools[github]

      #- name: "Debug ${{ matrix.version }}"
      #  run: |
      #    ls -lAhR dist/

      - name: "Test ${{ matrix.version }}"
        #continue-on-error: ${{ contains('dev', matrix.version) }}
        run: |
          pytest -s

      - name: "Schedule Failure Notification"
        if: ${{ failure() && github.event_name == 'schedule' }}
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          description: ${{ github.event.repository.html_url }}/actions/runs/${{ github.run_id }}
